@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
	--font: 'Oswald', Helvetica, sans-serif;
	--bg-clr: #d3bda2;
	--light-clr: #d9cfc7;
	--med-clr: #f9f8f6;
	--dark-clr: #efe9e3;
	--bld-ft-wght: 700;
	--med-ft-wght: 500;
	--light-ft-wght: 200;
}

/* Hide scrollbar for Chrome, Safari and Opera (WebKit browsers) */
html::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	min-height: 100dvh;
	font-family: var(--font);
	color: var(--med-clr);
	background-color: var(--bg-clr);
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: clamp(2rem, 8vw, 6rem);
}

h2 {
	font-size: clamp(1.5rem, 7vw, 5rem);
}

h3 {
	font-size: clamp(1.2rem, 6vw, 4rem);;
}

h3,
p {
	font-weight: var(--med-ft-wght);
}
p {
	font-size: clamp(1rem, 5vw, 3.7rem);
}
h1,
h2 {
	font-weight: var(--bld-ft-wght);
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

a,
p,
span {
	font-size: 1.5rem;
}
main {
	flex: 1 0 auto;
	margin: 0 5px;
}
.hr {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 3px var(--dark-clr) solid;
}

/* Animation for content */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Applying the animation */

main {
	animation: fade-in linear forwards;
	animation-duration: 1.5s;
}
